<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Responsive Forms</title>
    <link href="responsive-forms.css" rel="stylesheet" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
</head>
<body>
    <form action="/" method="post">
        <fieldset class="shadow-border">
            <legend class="shadow-border">Login</legend>
            <p class="form-group">
                <label for="username">Username</label>
                <i class="fa-solid fa-user"></i>
                <input type="text" name="username" value="" />
            </p>
            <p class="form-group">
                <label for="password">Password</label>
                <i class="fa-solid fa-key"></i>
                <input type="password" name="password" value="" />
            </p>
            <button type="submit">Login</button>
        </fieldset>
    </form>
</body>
</html>