<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Fitness Site</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link href="styles.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div id="contacts">
            <ul>
                <li>1-800-235-658</li>
                <li><i class="fa-solid fa-location-dot"></i> Bulgaria, Mladost 1, bl.105</li>
                <li>
                    <ul>
                        <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <nav>
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#">MEMBERSHIPS</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">SCHEDULE</a></li>
                <li><a href="#">BLOG</a></li>
                <li><a href="#">CONTACT US</a></li>
            </ul>
        </nav>
        <div id="getStarted">
            <h1>NO PAIN NO GAIN</h1>
            <p>Nice-looking body and powerful organism are interconnected and we can help you with both.</p>
            <button>GET STARTED</button>
        </div>
    </header>
    <main>
        <section class="article-container">
            <h2>
                <span>Welcome</span>
                <hr />
            </h2>
            <article class="article-card">
                <img src="image/multiple-users-silhouette.png" alt="" />
                <h3>Qualified Coaches</h3>
                <p>Our coaches have years of experience in various types of fitness and sports.</p>
            </article>
            <article class="article-card">
                <img src="image/thumbs-up-hand-symbol.png" alt="" />
                <h3>Individual Approach</h3>
                <p>Every client of GYM has a personalized program of training and nutrition.</p>
            </article>
            <article class="article-card">
                <img src="image/dumbbell.png" alt="" />
                <h3>Fitness Equipment</h3>
                <p>We cooperate with leading fitness equipment suppliers to give you the superior results.</p>
            </article>
        </section>

        <section class="article-container coaches">
            <h2>
                <span>Coaches</span>
                <hr />
            </h2>
            <article class="article-card">
                <img src="image/perkins.jpg" alt="" />
                <h3>Pepa Perkins</h3>
                <p>Fitness</p>
                <p>Emily can teach you all peculiarities of fitness and aerobics in a group or individually.</p>
            </article>
            <article class="article-card">
                <img src="image/minela.jpg" alt="" />
                <h3>Samantha Minela</h3>
                <p>Yoga</p>
                <p>Our leading yoga coach, Samantha will help you reach full harmony with your body.</p>
            </article>
            <article class="article-card">
                <img src="image/ortiz.jpg" alt="" />
                <h3>Austin Ortiz</h3>
                <p>Bodybuilding</p>
                <p>Austin is not only our most called-for coach, but also a winner of many championships.</p>
            </article>
        </section>
    </main>
    <footer>
        <p>All rights reserved. In Partnership with SoftUni.</p>
    </footer>
</body>
</html>