<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Positioning Playground</title>
    <link href="position-playground.css" rel="stylesheet" />
</head>
<body>
    <main>
        <div class="viewport">
            <section class="card">
                <img src="picture1_pp.jpg" alt="Alternate Text" />
                <i class="fa-solid fa-link"></i>
            </section>
        </div>
        <div class="viewport">
            <section class="card">
                <img src="picture2_pp.jpg" alt="Alternate Text" />
                <i class="fa-solid fa-star"></i>
            </section>
        </div>
    </main>
</body>
</html>