@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css");

body {
    margin: 0px;
}

.viewport {
    position: relative;
    height: 50vh;
}

    .viewport:first-child {
        background-image: linear-gradient(to right, blue, cyan);
    }

    .viewport:last-child {
        background-image: linear-gradient(to right, purple, orange);
    }

.card {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

    .card img {
        width: 300px;
    }

    .card i {
        position: absolute;
        bottom: 12px;
        right: 6px;
        color: white;
    }
