html {
    font-family: Helvetica, sans-serif;
}

body {
    padding: 70px 180px;
}

header {
    border-bottom: 2px solid black;
    padding-bottom: 30px;
    margin-bottom: 50px;
}

span {
    font-size: 3rem;
    font-weight: bold;
}

nav {
    display: inline-block;
    margin-left: 70px;
}

ul li {
    display: inline-block;
}

    ul li a {
        margin: 0 15px;
        color: green;
        font-size: 1.2rem;
        text-decoration: none;
    }

h1 {
    font-size: 2.2rem;
    font-weight: 500;
}

p {
    line-height: 22px;
}
