<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Cards with CSS Columns and Flexbox</title>
    <link href="cards.css" rel="stylesheet" />
</head>
<body>
    <h2>Layout Masonry</h2>
    <div class="cards-layout masonry">
        <article class="card">
            <img src="images4/Image1.jpg" alt="Alternate Text" />
            <section>
                <h3>
                    Card Title
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima consequuntur possimus quo enim eveniet, deserunt ducimus doloremque laudantium iure, ut inventore eaque fugit ex porro totam perspiciatis molestiae corporis. Odio!
                </p>
            </section>
            <footer>
                More interesting things about the thing
            </footer>
        </article>
        <article class="card">
            <img src="images4/Image2.jpg" alt="Alternate Text" />
            <section>
                <h3>
                    Card Title
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima consequuntur possimus quo enim eveniet, deserunt ducimus doloremque laudantium iure, ut inventore eaque fugit ex porro totam perspiciatis molestiae corporis. Odio!
                </p>
            </section>
            <footer>
                More interesting things about the thing
            </footer>
        </article>
        <article class="card">
            <img src="images4/Image3.jpg" alt="Alternate Text" />
            <section>
                <h3>
                    Card Title
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima consequuntur possimus quo enim eveniet, deserunt ducimus doloremque laudantium iure, ut inventore eaque fugit ex porro totam perspiciatis molestiae corporis. Odio!
                </p>
            </section>
            <footer>
                More interesting things about the thing
            </footer>
        </article>
        <article class="card">
            <img src="images4/Image4.jpg" alt="Alternate Text" />
            <section>
                <h3>
                    Card Title
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima consequuntur possimus quo enim eveniet, deserunt ducimus doloremque laudantium iure, ut inventore eaque fugit ex porro totam perspiciatis molestiae corporis. Odio!
                </p>
            </section>
            <footer>
                More interesting things about the thing
            </footer>
        </article>
        <article class="card">
            <img src="images4/Image1.jpg" alt="Alternate Text" />
            <section>
                <h3>
                    Card Title
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima consequuntur possimus quo enim eveniet, deserunt ducimus doloremque laudantium iure, ut inventore eaque fugit ex porro totam perspiciatis molestiae corporis. Odio!
                </p>
            </section>
            <footer>
                More interesting things about the thing
            </footer>
        </article>
        <article class="card">
            <img src="images4/Image2.jpg" alt="Alternate Text" />
            <section>
                <h3>
                    Card Title
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima consequuntur possimus quo enim eveniet, deserunt ducimus doloremque laudantium iure, ut inventore eaque fugit ex porro totam perspiciatis molestiae corporis. Odio!
                </p>
            </section>
            <footer>
                More interesting things about the thing
            </footer>
        </article>
        <article class="card">
            <img src="images4/Image3.jpg" alt="Alternate Text" />
            <section>
                <h3>
                    Card Title
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima consequuntur possimus quo enim eveniet, deserunt ducimus doloremque laudantium iure, ut inventore eaque fugit ex porro totam perspiciatis molestiae corporis. Odio!
                </p>
            </section>
            <footer>
                More interesting things about the thing
            </footer>
        </article>
        <article class="card">
            <img src="images4/Image4.jpg" alt="Alternate Text" />
            <section>
                <h3>
                    Card Title
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima consequuntur possimus quo enim eveniet, deserunt ducimus doloremque laudantium iure, ut inventore eaque fugit ex porro totam perspiciatis molestiae corporis. Odio!
                </p>
            </section>
            <footer>
                More interesting things about the thing
            </footer>
        </article>
    </div>
    <h2>Layout Flex</h2>
    <div class="cards-layout flex">
    </div>
</body>
</html>