<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Photo Gallery - Flexbox</title>
    <link href="photo-gallery-flexbox.css" rel="stylesheet" />
</head>
<body>
    <section class="gallery">
        <ul>
            <li><img src="images1/picture1.jpg" alt="Alternate Text" /></li>
            <li><img src="images1/picture2.jpg" alt="Alternate Text" /></li>
            <li><img src="images1/picture3.jpg" alt="Alternate Text" /></li>
            <li><img src="images1/picture4.jpg" alt="Alternate Text" /></li>
            <li><img src="images1/picture5.jpg" alt="Alternate Text" /></li>
            <li><img src="images1/picture6.jpg" alt="Alternate Text" /></li>
            <li><img src="images1/picture7.jpg" alt="Alternate Text" /></li>
            <li><img src="images1/picture8.jpg" alt="Alternate Text" /></li>
            <li><img src="images1/picture9.jpg" alt="Alternate Text" /></li>
        </ul>
    </section>
</body>
</html>