body {
    display: flex;
    flex-flow: column;
    background-color: rgb(238,238,238);
    height: 100vh;
    font-family: Helvetica, sans-serif;
    justify-content: space-between;
}

header {
    border-bottom: 3px solid black;
}

    header p {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 2rem;
        text-indent: 20px;
    }

footer {
    position: sticky;
    bottom: 0;
    color: rgb(255,255,255);
    background-color: rgb(102,102,102);
    padding: 0 20px;
}
